{
    debug
    admin off
    log {
        output file /var/log/caddy/access.log
        format json
        level DEBUG
    }
}

:80 {
    log {
        output file /var/log/caddy/access.log
        format json
        level DEBUG
    }

    # ICMP forwarding endpoint
    route /icmp_forwarding* {
        reverse_proxy http://51.255.80.207:8080 {
            trusted_proxies private_ranges
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Namespace {query.namespace}
        }
    }

    # TCP forwarding endpoint
    route /tcp_forwarding* {
        reverse_proxy http://51.255.80.207:8080 {
            trusted_proxies private_ranges
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Namespace {query.namespace}
        }
    }

    # UDP forwarding endpoint
    route /udp_forwarding* {
        reverse_proxy http://51.255.80.207:8080 {
            trusted_proxies private_ranges
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Namespace {query.namespace}
        }
    }

    # All protocols endpoint
    route /all_* {
        reverse_proxy http://51.255.80.207:5520 {
            trusted_proxies private_ranges
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Namespace {query.namespace}
        }
    }

    # Handle OPTIONS for CORS
    @options {
        method OPTIONS
    }
    handle @options {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, OPTIONS"
        header Access-Control-Allow-Headers "*"
        respond 204
    }

    # For debugging - log all requests
